$desktop-min-width: 1040px;
$mobile-max-width: 1039px;

$app-gray: #506670c5;
$app-warn: rgba(201, 18, 18, 0.678);

.message_section {
  &-container {
    padding: 20px;
  }
}

.flex {
  display: flex;

  &_center-row {
    @extend .flex;
    justify-content: center;
    align-items: center;
  }

  &_center-col {
    @extend .flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.flex-fill {
  flex: 1 1;
}

.app {
  &-warning {
    color: rgba(201, 18, 18, 0.678);
  }

  &-success {
    color: rgb(144, 211, 144);
  }

  &-fade-in {
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      color: $app-gray;
      transition: all 0.5s;
    }
  }

  &-opacity-in {
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
      transition: all 0.5s;
    }
  }

  &-link {
    @extend .app-fade-in;

    &:hover {
      @extend .app-fade-in;
      transform: scale(1.05);
    }
  }

  &_error-screen {
    @extend .flex_center-col;
    flex-wrap: wrap;
    margin: 50px;
  }
}
